In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset= pd.read_csv("car_data.csv")

In [3]:
dataset.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel           4340 non-null   object
 5   seller_type    4340 non-null   object
 6   transmission   4340 non-null   object
 7   owner          4340 non-null   object
dtypes: int64(3), object(5)
memory usage: 271.4+ KB

In [5]:
dataset["transmission"].value_counts()

Manual       3892
Automatic     448
Name: transmission, dtype: int64

In [6]:
x=dataset.iloc[:,[1,3,4,6]].values
y= dataset.iloc[:,2].values

In [7]:
from sklearn.preprocessing import LabelEncoder
lb= LabelEncoder()
x[:,2]=lb.fit_transform(x[:,2])
lb1= LabelEncoder()
x[:,3]=lb1.fit_transform(x[:,3])

In [8]:
print(x.shape)

(4340, 4)

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [10]:
from sklearn.ensemble import RandomForestRegressor
regressor=RandomForestRegressor(n_estimators=300,random_state=0)
regressor.fit(x_train,y_train)

RandomForestRegressor(n_estimators=300, random_state=0)

In [11]:
accuracy=regressor.score(x_test,y_test)
print(accuracy*100,"%")

75.79783473129758 %

In [12]:
new_data=[2017,7000,"Petrol","Manual"]
new_data[2]=lb.transform([new_data[2]])[0]
new_data[3]=lb1.transform([new_data[3]])[0]

In [13]:
print(new_data)
regressor.predict([new_data])

[2017, 7000, 4, 1]

array([617422.22222222])

 ## creating pkl files that we are going to use in flask app

In [14]:
 import pickle 
 pickle.dump(regressor,open("regressor.pkl","wb"))
 pickle.dump(lb,open("lb","wb"))
 pickle.dump(lb1,open("lb1",'wb'))